* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1480px;
    height: 1282px;
    gap: 0;
}
.header {
    width: 1283px;
    height: 189px;
    top: 63px;
    left: 98px;
    gap: 0;
}
.title_name {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;
    margin-right: 98px;
    margin-top: 63px;
    color: black;
}
.title_color {
    color: deepskyblue;
}
.title_link {
    color: black;
    margin-right: 98px;
    list-style: none;
    background: none;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    margin-left: 100px;
    text-decoration: none;
}
.menu_link {
    color: white;
    background-color: #35444F;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-align: center;
    text-decoration: none;
}
.menu_header {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: #35444F;
    margin-left: 100px;
    margin-top: 40px;
}
.menu_link:hover {
        color: #fff;
        background: #333;
        tansition: all .3s linear;
}
.line {
    width: 1px;
    height: 69px;
    top: 2px;
    left: 1px;
    gap: 0;
    opacity: 0;
    list-style: none;
    text-decoration: none;
    border: 1px solid white;
}
.line3 {
    width: 29px;
    margin-left: 162px;
    height: 1px;
    transform: rotate(90deg);
    margin-top: 10.7px;
}
.line5 {
    width: 29px;
    height: 1px;
    margin-right: 132px;
    transform: rotate(90deg);
    margin-top: 10.7px;
}
.main {
    display: flex;
    flex-direction: row;

}
.left_menu_box {
    width: 344px;
    height: 399px;
    gap: 0;
    border: 1px solid black;
    margin-left: 100px;

}
.left_menu_list {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-top: 49px;
    margin-left: 44px;
    list-style: none;
    text-decoration: none;
    color: #495863;
}
.left_menu_link {
    color: #495863;
    list-style: none;
    text-decoration: none;
}
.left_menu_list:hover {
    color: black;
    background: #333;
    tansition: all .3s linear;
}
.content_div {
    width: 790px;
    height: 832px;
    margin-left: 50px;
    gap: 0;
}
.img_fon {
    position: relative;
    width: 790px;
}
.img_logo {
    margin-right: 99px;
    position: absolute;
    left: 495px;
    right: 0;
    top: 251px;
    bottom: 0;
    width: 790px;
}
.img_logo:hover {
    transform: scale(1.2);
}
.content_text_1 {
    margin-top: 37px;
}
.content_text_2 {
    margin-top: 13px;
}
.footer {
    width: 1194px;
    height: 69px;
    background-color: grey;
    margin-left: 100px;
    margin-top: 51px;
}
.menu_footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 20px;
}
.footer_menu_link {
    list-style: none;
    text-decoration: none;
    background-color: grey;
    color: black;
}
.footer_menu_list {
    margin-top: 20px;
    margin-left: -50px;
}
.footer_menu_link:hover {
    color: blue;
    tansition: all .3s linear;
    text-decoration: underline
}
.footer_menu_link_seal {
    margin-left: 135px;
    list-style: none;
    text-decoration: none;
    background-color: grey;
    color: black;
}